
<a routerLink="/productos" class="boton inicio">Inicio</a>

<div class="carrito">
    <h1 class="Title">Tu carrito</h1>
</div>
    <div *ngFor="let product of productlist" class="product">
        
            <div class="contproduct">{{product.total}}</div>
            <div>{{ product.title }}</div>
            <div>{{ product.marca }}</div>
            <div>{{ product.precio }}</div>
            <img [src]="product.imagen" alt="{{ product.title }}">
            <button (click)="removeFromCaty(product)" style="background-color: red">
                Remover
              </button>
    </div>

<div class="pago">
    <button (click)="deleteall()">Eliminar lista de compras</button>
    <button (click)="pago()">Proceder al pago</button>
</div>

