
<a routerLink="/productos" class="boton inicio">Inicio</a>

<div class="carrito">
    <h1 class="Title">Tu carrito</h1>

    <div class="product">
        <img src="assets\MPU63.jpeg" alt="Producto 1">
        <div class="product-info">
            <h3>Celular</h3>
            <p>Iphone 15 Pro</p>
            <p>Precio: $18,000</p>
            <button onclick="addToCart('Iphone 15 Pro', 18000)">Quitar del carrito</button>
        </div>
    </div>
    <div class="product">
        <img src="assets\MPU63.jpeg" alt="Producto 1">
        <div class="product-info">
            <h3>Celular</h3>
            <p>Iphone 15 Pro</p>
            <p>Precio: $18,000</p>
            <button onclick="addToCart('Iphone 15 Pro', 18000)">Quitar del carrito</button>
        </div>
    </div>    <div class="product">
        <img src="assets\MPU63.jpeg" alt="Producto 1">
        <div class="product-info">
            <h3>Celular</h3>
            <p>Iphone 15 Pro</p>
            <p>Precio: $18,000</p>
            <button onclick="addToCart('Iphone 15 Pro', 18000)">Quitar del carrito</button>
        </div>
    </div>    <div class="product">
        <img src="assets\MPU63.jpeg" alt="Producto 1">
        <div class="product-info">
            <h3>Celular</h3>
            <p>Iphone 15 Pro</p>
            <p>Precio: $18,000</p>
            <button onclick="addToCart('Iphone 15 Pro', 18000)">Quitar del carrito</button>
        </div>
    </div>    <div class="product">
        <img src="assets\MPU63.jpeg" alt="Producto 1">
        <div class="product-info">
            <h3>Celular</h3>
            <p>Iphone 15 Pro</p>
            <p>Precio: $18,000</p>
            <button onclick="addToCart('Iphone 15 Pro', 18000)">Quitar del carrito</button>
        </div>
    </div>    <div class="product">
        <img src="assets\MPU63.jpeg" alt="Producto 1">
        <div class="product-info">
            <h3>Celular</h3>
            <p>Iphone 15 Pro</p>
            <p>Precio: $18,000</p>
            <button onclick="addToCart('Iphone 15 Pro', 18000)">Quitar del carrito</button>
        </div>
    </div>    <div class="product">
        <img src="assets\MPU63.jpeg" alt="Producto 1">
        <div class="product-info">
            <h3>Celular</h3>
            <p>Iphone 15 Pro</p>
            <p>Precio: $18,000</p>
            <button onclick="addToCart('Iphone 15 Pro', 18000)">Quitar del carrito</button>
        </div>
    </div>

</div>

<div class="pago">

    <button onclick="pago('')">Proceder al pago</button>
    
</div>

