:host {
    display: block;
    background-color: #c6c7cf;
    min-height: 100vh;
}
.contproduct {
    text-align: center;
    background-color: #71d2ea;
    border: 1px solid #130d0d;
    padding: 3px;
    margin-bottom: 2px;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    align-self: flex-end;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.store-name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.product {
    
    background-color: #66757b;
    width: 300px;
    display: inline-flex;
    border: 1px solid #3c0f03;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    margin-left: 30px;
    button {
        border: 1px solid  #ffffff;
        background: #de0f0f;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 1s;
        &:hover {
            font-style: italic;
            background-color: #5bca16;
        }
    }
}
.product img {
    max-width: 100%;
    width: 150px;
    height: auto;
    margin-right: 20px;
}
.product-info {
    flex: 1;
}

.carrito {
      text-align: center;
}

.pago {
    text-align: center;
    margin-top: 20px;
    button {
        border: 1px solid  #ffffff;
        background: #e7cdcd;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 1s;
        &:hover {
            font-style: italic;
            background-color: #5bca16;
        }
    }
}