
<a routerLink="/productos" class="boton inicio">Inicio</a>

<div class="carrito">
    <h1 class="Title">Tu carrito</h1>

    <div class="product">
        <img src="assets\MPU63.jpeg" alt="Producto 1">
        <div class="product-info">
            <h3>Celular</h3>
            <p>Iphone 15 Pro</p>
            <p>Precio: $18,000</p>
            <button (click)="delete()">Quitar del carrito</button>
        </div>
    </div>
    <div class="product">
        <img src="assets\MPU63.jpeg" alt="Producto 1">
        <div class="product-info">
            <h3>Celular</h3>
            <p>Iphone 15 Pro</p>
            <p>Precio: $18,000</p>
            <button (click)="delete()">Quitar del carrito</button>
        </div>
</div>

<div>
    <button (click)="deletecart()">Eliminar lista de compras</button>
</div>

<div class="pago">

    <button (click)="pago()">Proceder al pago</button>
    
</div>

