<a routerLink="/carrito" class="carrito"
  >Carrito {{ totalProducts }}</a>
<a routerLink="/adminproduct">Admin</a>

<div class="container">
  <h1 class="store-name">Shopping Car</h1>

  @for (producto of productList; track $index) {

  <div class="product">
    <img [src]="producto.imagen" alt="Producto 1" />
    <div class="product-info">
      <h3>{{ producto.title }}</h3>
      <p>{{ producto.marca }}</p>
      <p>Precio: $ {{ producto.precio }}</p>
      <button (click)="addToCart(producto)">Agregar al Carrito</button>
      <button (click)="removeFromCaty(producto)" style="background-color: red">
        Remover
      </button>
    </div>
  </div>


  }
</div>


