<div class="container">
    <h1 class="store-name">Shopping Car</h1>

    <div class="product">
        <img src="assets\MPU63.jpeg" alt="Producto 1">
        <div class="product-info">
            <h3>Celular</h3>
            <p>Iphon 15 Pro</p>
            <p>Precio: $18,000</p>
            <button>Agregar al Carrito</button>
        </div>
    </div>

    <div class="product">
        <img src="assets\1010916.webp" alt="Producto 2">
        <div class="product-info">
            <h3>pantalla</h3>
            <p>samsung</p>
            <p>Precio: $30,000</p>
            <button>Agregar al Carrito</button> 
        </div>
    </div>
</div>
